::ng-deep .modal-content {
    position: absolute;
    width: 544px;
    height: 303px;
    top: 311px;
    background: #3B4055;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

::ng-deep .modal-content .modal-header {
    border-bottom: 1px solid #737998;
}

::ng-deep .modal-content .modal-header h4 {
    margin-left: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

::ng-deep .modal-content .modal-header button.close span {
    color: #FFF
}

::ng-deep .modal-content .modal-body .content-body {
    position: relative;
    min-height: 138px;
}

::ng-deep .modal-content .modal-body .content-body p.notifications {
    position: absolute;
    width: 280px;
    top: 10px;
    left: 25%;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

::ng-deep .modal-content .modal-body .content-body p.message {
    position: absolute;
    width: 310px;
    top: 73px;
    left: 21%;
    font-size: 14px;
    color: #A9ADBF;
    text-align: center;
}

::ng-deep .modal-content .modal-body .choosen-body {
    position: relative;
    min-height: 50px;
}

::ng-deep .modal-content .modal-body .choosen-body .btn {
    position: absolute;
    border-radius: 4px;
    width: 229px;
}

::ng-deep .modal-content .modal-body .choosen-body .btn-delete-anyway {
    background-color: #252836;
    left: 5%;
    font-weight: bold;
    color: #FFFFFF
}

::ng-deep .modal-content .modal-body .choosen-body .btn-cancel {
    background-color: #737998;
    left: 52%;
    font-weight: bold;
    color: #252836;
}

::ng-deep .modal-content .modal-body .choosen-body .btn-delete-anyway:focus,
::ng-deep .modal-content .modal-body .choosen-body .btn-delete-anyway:active,
::ng-deep .modal-content .modal-body .choosen-body .btn-cancel:focus,
::ng-deep .modal-content .modal-body .choosen-body .btn-cancel:active {
    outline: none !important;
    box-shadow: none;
}